
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display-flex{
  display: flex;
}
.nav-item{
 list-style: none;
 
}
.item-link{
  text-decoration: none;
  margin-right: 30px;
  font-weight: 500;
  
 
}
/* shard style */


/* shard color style */
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}
.bg-light{
  background-color:rgba(255, 144, 14, 0.1);
}
.navbar{
  justify-content: space-between;
  align-items: center;
  
}
.nav-title{
  font-size: 4rem;
  font-weight: bold;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.banner{
  
  margin: 0 auto;
  
}
.Brand{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.title{
  font-size: 4rem;
  font-weight: bold;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;

}
.banner-image{
  width: 100%;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
main > section{
  margin-top: 130px;
}
.our-features{
  margin-left: 72px;
  max-width: 530px;
}
.hi{
  color: #FF900E;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
#part-1{
  font-weight: 500;
}
.btn-primary{
  margin-top: 32px;
}
@media screen and (max-width:576px) {
  .navbar, .nav-links, .teams{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  
}
@media screen and (min-width:576px) and (max-width:992px) {

  .teams{
    flex-direction: column;
  }
  .our-features{
    margin-left: 50px auto;
  }
}
/* some facts related style */
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top:5px ;
  margin-bottom: 10px;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}
 

